kalendaro_maximize {
    border: 0;
    position: fixed;
    border-radius: 0;
    box-shadow: none;

    .kalendaro {
        &__resizer {
            display: none;
        }

        &__head {
            border-radius: 0;
        }

        &__maxmin {
            background-position: -28px 0;
        }
    }
}
